body{
    font-family: 'Pathway Gothic One', sans-serif;
    color: #fff;
    background-color: #000;
}

#Desafios .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }